@keyframes spinner {
    100% {
      transform: rotate(0deg);
    }
  }
  
  .loading-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 30vh;
    transform: translateY(-50%);
  }
  
  .spinner {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url('img/zspin.png') center center;
    background-size: contain;
    /* transition-origin: 50% 50%; */
    animation: spinner 3s infinite alternate ease-in-out;
  }

  .loading-text {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 0.5em;
  }